* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* background: url('your-background-image.jpg') no-repeat center center fixed; */
    /* background-size: cover; */
}

.container {
    display: flex;
    background-color: rgba(17,25,40,0.4);
    /* width: 100%; */
    /* max-width: 900px; */
    /* background: rgba(255, 255, 255, 0.8); */
    border-radius: 10px;
    /* box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1); */
    overflow: hidden;   
}

.form-container {
    padding: 50px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.separator {
    width: 1px;
    background: #ddd;
    height:50%; /* Adjust the height as needed */
    margin-top: 14%;
}

/* .login-container {
    border-right: 2px solid #ddd;
} */

h1 {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 2rem;
}

input[type="email"], input[type="password"], input[type="text"], input[type="file"] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: rgba(17,25,40,0.4);
    color: white;
}

button {
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #5cb85c;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4cae4c;
}

.upload-btn {
    display: block;
    width: 100%;
    text-align: center;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-btn:hover {
    background-color: #0056b3;
}

input[type="file"] {
    display: none;
}
